.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img_bg{
    height: 148px;
    width: 148px;
    background-color: #faa652;
    border-radius: 50%;
}

.img_a{
    align-items: center;
    margin-top: 30px;
    margin-left: 40px;
}

.img_name{
    text-align: center;

}

#header{
    text-align: center;
    color: #0e2043;
    margin-bottom: 0.5rem;
     font-weight: 500;
     line-height: 1.2;
     font-size: 2rem;
 }
 
 #sub_header{
     text-align: center;
     letter-spacing: 0px;
     color: rgb(149, 149, 149);
     opacity: 1;
     max-width: 45vw;
     margin: 1rem auto;
     font-size: 1.25rem;
 }